<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".flow2ActivityScope.activity.ScopeVMSecondActivity"
            android:exported="false"
        />
        <activity
            android:name=".flow3NavGraphScope.activity.NavGraphVMActivity"
            android:exported="false"
        />
        <activity
            android:name=".flow2ActivityScope.activity.ScopeVMActivity"
            android:exported="false"
        />
        <activity
            android:name=".flow1Basic.activity.BasicVMActivity"
            android:exported="false"
        />
        <activity android:name=".MainVMActivity" android:exported="false" />
    </application>

</manifest>
